//
// accordion.scss
//

.accordion {
  --vz-accordion-bg: #e9f1fa !important;
  --vz-accordion-border-width: 0 !important;
  --vz-accordion-btn-icon-width: none !important;
  --vz-accordion-active-color: transparent !important;
  --vz-accordion-active-bg: transparent !important;

  .accordion-item {
    margin-bottom: 0.6rem !important;
    background-color: #13c9bf !important;
    // border: 1px solid #13c9bf !important;
    border-radius: 12px !important;
  }

  .accordion-header {
    .accordion-button {
      font-weight: 700;
    }
  }

  .accordion-button {
    font-family: 'Lora', sans-serif !important;
    font-size: 20px !important;
    line-height: 26px !important;
    color: #092a67 !important;
    border-radius: 12px !important;
  }

  .accordion-button.collapsed {
    background-color: #e9f1fa !important;
    border-radius: 12px;
  }

  .accordion-body {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400px !important;
    font-size: 18px !important;
    line-height: 30px !important;
    color: #1c1c1c !important;
    background-color: #13c9bf !important;
    border-radius: 12px;
  }

  &.accordion-icon-none {
    .accordion-button {
      &::after {
        content: '';
        background-image: none !important;
      }

      &:not(.collapsed) {
        &::after {
          content: '';
        }
      }
    }
  }
}

// Accordion with icon

.custom-accordionwithicon {
  .accordion-button {
    &::after {
      background-image: none !important;
      font-family: 'Material Design Icons';
      content: '\F0142';
      font-size: 1.1rem;
      vertical-align: middle;
      line-height: 0.8;
    }

    &:not(.collapsed) {
      &::after {
        background-image: none !important;
        content: '\F0140';
        margin-right: -3px;
      }
    }
  }
}

// Accordion with plus icon

.custom-accordionwithicon-plus {
  .accordion-button {
    &::after {
      background-image: none !important;
      font-family: 'Material Design Icons';
      content: '\F0415';
      font-size: 1.8rem;
      vertical-align: middle;
      line-height: 0.5;
      margin-right: 10px;
    }

    &:not(.collapsed) {
      &::after {
        background-image: none !important;
        content: '\F0374';
        margin-right: 8px;
      }
    }
  }
}

// left Icon accordion

// .lefticon-accordion {
//   .accordion-button {
//     padding-left: 2.75rem;

//     &::after {
//       position: absolute;
//       left: $accordion-button-padding-x;
//       top: 14px;
//     }

//     &:not(.collapsed) {
//       &::after {
//         top: 20px;
//       }
//     }
//   }
// }

// border accordion

.accordion-border-box {
  .accordion-item {
    border-radius: 12px;

    &:not(:first-of-type) {
      margin-top: 8px;
    }

    .accordion-button {
      border-radius: $accordion-border-radius;

      &:not(.collapsed) {
        border-radius: 12px;
      }
    }
  }
}

.custom-accordion-border {
  .accordion-item {
    border-left: 3px solid $accordion-border-color;
  }
}

//accordion Color

@each $color, $value in $theme-colors {
  .accordion-#{$color} {
    .accordion-item {
      border-color: #092a67 !important;
      margin-bottom: 20px;

      .accordion-button {
        box-shadow: none;

        &:not(.collapsed) {
          color: $value;
        }

        &::after {
          color: $value;
        }
      }
    }
  }

  .accordion-fill-#{$color} {
    .accordion-item {
      .accordion-button {
        box-shadow: none;

        &:not(.collapsed) {
          color: $white;
          background-color: #e9f1fa !important;
        }
      }
    }
  }
}

// rtl
[dir='rtl'] {
  .custom-accordionwithicon {
    .accordion-button::after {
      transform: rotate(180deg);
    }
  }
}
