// our services section

.section-heading {
    h3 {
        color: #13C9BF !important;
    }
}

.ourservices-content {
    display: flex;
    justify-content: center;
    gap: 30px; // student-banner

    .student-banner {
        background-color: #13C9BF;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: end;

        .banner-image {
            // margin-top: 52px;
            position: relative;
            width: 50%;

            .student {
                position: absolute;
                bottom: 0;
                left: -60px;
                object-fit: contain;
                margin-bottom: 0;
            }

            .globe {
                margin-top: 88px;
                margin-bottom: 0;
            }

        }

        .student-banner-info {
            position: relative;
            width: 50%;


            div {
                text-align: right;
                padding: 0 46px 72px 0;

                h2 {
                    font-family: Lora;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 40.96px;

                    text-align: right;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #1C1C1C !important;


                }

                p {
                    font-family: Poppins;
                    line-height: 30.6px;
                    font-size: 18px;

                    font-weight: 400;
                    text-align: right;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #1C1C1C !important;
                }

                div {
                    margin: 26px auto 72px auto;

                    button {
                        padding: 12px 24px 12px 24px;
                        gap: 10px;
                        border-radius: 12px;
                        opacity: 0px;
                        background: #1C1C1C;
                        color: #fff;
                        //styleName: Button Text;
                        font-family: Lora;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 34px;


                    }
                }
            }

            figure {
                margin-top: 72px;
                right: 35px;


                position: absolute;
                bottom: 0;
                margin-bottom: 0;
            }
        }

    }

    // student-info-banner
    .info-banner {
        border-radius: 24px;
        z-index: 1;
        position: relative;

        div {
            margin: 36px 45px;


            text-align: center;

            p {

                font-family: Lora;
                font-weight: 700;
                font-size: 32px;
                line-height: 40.96px;


                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

            }

            .button {
                margin-top: 40px;
                padding: 8px 20px 8px 20px;
                gap: 10px;
                border-radius: 12px;

            }
        }

        .plus-vector {
            position: absolute;
            top: 194px;
            left: 480.79px;


        }

        .paralla-vector {
            z-index: -1;
            position: absolute;
            top: -0.3px;
            left: 31.13px;





        }
    }

}