// our services section

.ourservices-content {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    // margin: 80px;


    .student-banner {
        background-color: #13C9BF;
        border-radius: 24px;
        display: flex;



        .banner-image {
            margin: 52px 46px 0 0;
            position: relative;

            .student {
                position: absolute;
                bottom: 0;
                left: -60px;
                object-fit: contain;
                margin-bottom: 0;
            }

            .globe {

                margin-bottom: 0;
            }

        }

        .student-banner-info {
            position: relative;


            div {
                // margin: 52px 46px 0 0;
                text-align: right;
                padding: 46px 46px 72px 0;


                h2 {
                    font-family: Lora;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 40.96px;
                    text-align: right;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #1C1C1C !important;


                }

                p {
                    font-family: Poppins;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30.6px;
                    text-align: right;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                }

                button {
                    padding: 14px 24px 14px 24px;
                    gap: 10px;
                    border-radius: 12px;
                    opacity: 0px;
                    background: #1C1C1C;
                    color: #fff;
                    //styleName: Button Text;
                    font-family: Lora;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 34px;
                    text-align: left;
                    margin: 26px 46px 72px 0;


                }
            }

            figure {
                margin-top: 72px;
                position: absolute;
                bottom: 0;
                margin-bottom: 0;
                right: 35px;
            }
        }
    }

    .info-banner {
        border-radius: 24px;
        position: relative;

        div {

            margin: 36px 45px;
            text-align: center;

            p {

                font-family: Lora;
                font-size: 32px;
                font-weight: 700;
                line-height: 40.96px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

            }

            .button {

                padding: 8px 20px 8px 20px;
                gap: 10px;
                border-radius: 12px;


            }
        }

        .plus-vector {
            position: absolute;
            top: 194px;
            left: 480.79px;
            z-index: -1;


        }

        .paralla-vector {
            position: absolute;
            top: -0.3px;
            left: 31.13px;


        }
    }

}